* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-bg {
    background: linear-gradient(177.95deg, rgba(22, 118, 114, 0.52) 19.41%, #A2E9A9 105.7%);
}

.table-bg {
    background-color: rgba(217, 217, 217, 1);
}

.container {
    max-width: 1300px;
}

.back-user {
    background: rgb(142, 212, 157);
    background: linear-gradient(0deg, rgba(142, 212, 157, 1) 0%, rgba(25, 75, 73, 1) 71%);
}